$("h1").append("<h4>Please make sure to fill in all the 'required' fields. Try again.</h4>");
$("h4").remove();
$("h1").append("<h4>Please make sure to fill in all the 'required' fields. Try again.</h4>");
