$("<h4>Please make sure everything is filled in correctly and try again ;)</h4>").hide().appendTo("#signup-title").fadeIn(999);
$("h4").remove();
$("<h4>Please make sure everything is filled in correctly and try again ;)</h4>").hide().appendTo("#signup-title").fadeIn(999);
